dhcp-host=94:C6:91:A2:82:AD,{{ home_subnet | ipmath(sombra_addr) }},sombra
dhcp-host=48:F1:7F:DF:AD:8B,{{ home_subnet | ipmath(lucio_addr) }},lucio
dhcp-host=54:60:09:4A:28:CA,{{ home_subnet | ipmath(chromecast_addr) }},chromecast
