dhcp-option=option:dns-server,{{ home_subnet | ipmath(pi_addr) }}

address=/routeur/{{ home_subnet | ipmath(gateway_addr) }}

address=/pi/{{ home_subnet | ipmath(pi_addr) }}
address=/pi.home/{{ home_subnet | ipmath(pi_addr) }}

address=/sombra/{{ home_subnet | ipmath(sombra_addr) }}
address=/sombra.home/{{ home_subnet | ipmath(sombra_addr) }}
address=/shokohsc.home/{{ home_subnet | ipmath(sombra_addr) }}
address=/shokohsc.duckdns.org/{{ home_subnet | ipmath(sombra_addr) }}

address=/lucio/{{ home_subnet | ipmath(lucio_addr) }}
address=/lucio.home/{{ home_subnet | ipmath(lucio_addr) }}

server=/cluster.local/10.96.0.10
